<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Converte Imagem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="https://kit.fontawesome.com/ee9790b7c3.js" crossorigin="anonymous"></script>



</head>
<style>



</style>

<body>
    {% include 'topo.html' %}
   
    
 

<div id="content">
    <h1>Converter imagens  jpg para diversas extensões</h1>
    <div id="content-inner">

    <h2>Escolha o arquivo para conversão</h2>

    <form action="{{url_for('upload_file')}}"   method="POST" enctype="multipart/form-data">
  <label for="file">Enviar arquivo</label>
        <input  type="file" id="file" name="file" multiple  onchange="this.form.submit()" />

        <pre id="fileContent"></pre>
        {% for image in images %}
        {% if status !=200 %}
       <div class="item">
        <div id="content_list_images">
              <div  id="name_image" >{{image['filename']}}</div>
            <select name="types" id="select" onchange="selectType(this)" >
            <option value="avif">avif</option>

            <option value="webp" selected>webp</option>
            <option value="bmp">bmp</option>
            <option value="png">png</option>
            <option value="jpg">jpg</option>
            <option value="gif">gif</option>
            <option value="tiff">tiff</option>
        </select>
        <a href="/delete?item={{image['filename']}}">
            <div ><i class="fa-solid fa-circle-xmark" style="color: #D33502; font-size: 25px;"></i></div>
        </a>
        </div>
        </div>

        {% endif %}

        {% endfor %}




        {% if status !=200 and up==True%}
         <div id="btn_convert">
            <a href="/getFiles?action=convert">Converter Imagens</a>
        </div>
        
        {% endif %}



    </form>
        {% for image in images_download %}
         {% if status==200 %}
       
        <div id="container-result">
            <div id="item-result">
                 <div>{{image}}</div>
        <a href="/static/images/{{ip}}/{{image}}"  download="foto">
            <div id="botao">
                Imagem Pronta!!!
            </div>

        </a>
            </div>

        </div>


        {% endif %}
         {% endfor %}
 </div>
</div>


</body>
<script>

  document.getElementById("select").addEventListener("change", (e)=>
   {
    var file= e.target.parentElement.firstChild.nextElementSibling.innerHTML
    fetch(`/change_types?types=${e.target.value}&file=${file}`, {method: "POST"})
     console.log('mudei'
)
    }
   )

</script>








</html>