<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Converte Imagem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="https://kit.fontawesome.com/ee9790b7c3.js" crossorigin="anonymous"></script>
    <script src="/static/js/getip.js"></script>
    <script>
       
    </script>

</head>
<style>



</style>

<body>
    {% include 'topo.html' %}
   
    
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}

    <div>{% for msg in mensagens %}
        {{msg}}
        {% endfor %}
    </div>
    {% endif %}

<div id="content">
    <h1>Converter imagens  jpg para diversas extensões </h1>
    <div id="content-inner">

    <h2>Escolha o arquivo para conversão</h2>

    <form action="{{url_for('upload_file')}}"  id="form"  method="POST" enctype="multipart/form-data">
  <label for="file">Enviar arquivo</label>
        <input  type="file" id="file" name="file"  multiple  onchange="this.form.submit(); exibLoader('loader')" />
        <input type="text" id="ip" name="ip" value="ip">
        <pre id="fileContent"></pre>
        {% for image in images %}
        {% if status !=200 %}
       <div class="item">
        <div id="content_list_images">
              <div  id="name_image" >{{image['filename']}}</div>
            <select class="select-type" name="types" id="select"  >
            <option value="avif">avif</option>

            <option value="webp" selected>webp</option>
            <option value="bmp">bmp</option>
            <option value="png">png</option>
            <option value="jpg">jpg</option>
            <option value="gif">gif</option>
            <option value="tiff">tiff</option>
        </select>
        <a href="/delete?item={{image['filename']}}">
            <div ><i class="fa-solid fa-circle-xmark" style="color: #D33502; font-size: 25px;"></i></div>
        </a>
        </div>
        </div>

        {% endif %}

        {% endfor %}


       <!-- <div>{{msg}} </div> -->
       <div id="content_loader">
        <span id="loader" class="loader"></span>
       </div>
        
      
      

        {% if status !=200 and up==True%}
         <div id="btn_convert">
           <a id="a_convert" href="">Converter Imagens</a> 
        <!--  <a id="a_convert" href="/getFiles?action=convert">Converter Imagens</a>  -->
        </div>
        
        {% endif %}



    </form>
    <div id="content_loader">
        <span id="loader_convert" class="loader"></span>
       </div>
        {% for image in images_download %}
         {% if status==200 %}
       
        <div id="container-result">
            <div id="item-result">
                 <div>{{image}}</div>
                 <div>ip:{{ip}}</div>
        <a href="/static/images/{{ip}}/{{image}}"  download="foto">
            <div id="botao">
                Imagem Pronta!!!
            </div>

        </a>
            </div>

        </div>


        {% endif %}
         {% endfor %}
 </div>
</div>


</body>
<script src="/static/js/scripts.js">
</script>








</html>